---
const {client, progress, state} = Astro.props;
---

<div class="order rounded-lg p-3.5 mb-3.5">
    <div class="header flex justify-between mb-2">
        <span class="client text-2xl">
            {client}
        </span>
        <span class="progress-text text-2xl">
            {progress}%
        </span>
    </div>

    <div class="progress-bar border-2 border-gray-500 rounded-sm w-full h-4 overflow-hidden">
        <div class="progress-fill h-full" style=`width: ${progress}%`></div>
    </div>

    <h3 class="state mt-2 text-md">{state}</h3>
</div>

<style>
    .order{
        background-color: #cce3f6;
        border: 2px solid #6ca0dc;
        color: #f0f0f0;
        box-shadow: 3px 3px 0 #88a0c4;
        transition: all 0.2s ease;
    }

    .order:hover{
        transform: translateY(2px);
        box-shadow: 1px 1px #44a0c4;
    }

    .header{
        font-size: 0.7rem;
        color: #1c1c1c;
    }

    .progress-bar{
        background-color: #a3d2f7;
        border: 1px solid #6ca0dc;
    }

    .progress-fill {
        background: linear-gradient(90deg, #ffcb6b, #f78fb3); /* amarillo a rosa */
        transition: all 0.6s ease-in-out;
    }

    .state{
        color:#3a3a3a;
    }
</style>