---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Home/Header.astro';
import Main from '../components/Home/Main.astro';
---

<Layout title="Comissions">
	<div class="flex flex-col gap-50">
		<div>
			<Header />
		</div>
		<div>
			<Main />
		</div>
	</div>
</Layout>
