---
import Layout from "../layouts/Layout.astro"
import SocialItem from "../components/Social/socialItem.astro"
import BackButton from "../components/backButton.astro"
---

<Layout title="social">

    <section class="w-full h-screen">
        <BackButton/>
        <div class="flex flex-col items-center">
            <h1 class="text-6xl my-20 animate-fade-in-up">Social Links</h1>
            <div class="animate-fade-in-up grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-30 gap-y-12 mt-15">            
                <SocialItem image="/icons/instagram.png" title="Instagram"/>
                <SocialItem image="/icons/tik-tok.png" title="TikTok"/>
                <SocialItem image="/icons/x.png" title="X"/>
                <SocialItem image="/icons/youtube.png" title="YouTube"/>
                <SocialItem image="/icons/facebook.png" title="Facebook"/>
                <SocialItem image="/icons/email.png" title="Contact Me : D">
            </div>
        </div>
    </section>
</Layout>