<a href="/">
    <button class="cursor-pointer backButton m-10 bg-gray-400 py-2 px-4 rounded-md">
        back
    </button>
</a>

<style>
    .backButton{
        background-color: #cce3f6;
        border: 2px solid #6ca0dc;
        box-shadow: 2px 2px 0 #88a0c4;
        transition: all 0.2s ease;
    }

    .backButton:hover{
        transform: translateY(2px);
        box-shadow: 1px 1px #44a0c4;
    }
</style>